.cardContainer {
    max-width: 100px;
    min-width: 100px;
}

.card {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.cardLow {
    background-color: #74c7b8;
    color: rgb(51, 51, 51);
}

.card.cardMedium {
    background-color: #ffcda3;
    color: rgb(51, 51, 51);
}

.card.cardHigh {
    background-color: #ee9595;
    color: rgb(51, 51, 51);
}

.card.cardPass {
    background-color: #f7f7f7;
    color: rgb(51, 51, 51);
}

.card.cardUnknown {
    background-color: #ffc93c;
    color: rgb(51, 51, 51);
}

.card.cardUnsetted {
    background-color: #fff;
    color: rgb(51, 51, 51);
}