
.container {
    flex: 1;
    overflow: hidden;
}

.container .front {
    position: relative;
    z-index: 1;
    bottom: -30px;
    display: flex;
    justify-content: space-evenly;
}

.container .behind {
    position: relative;
}

